.photo-product {
  background-color: #fff;
  display: inline-block;
  height: 554px;
  border-top-right-radius: 150px;
  border-bottom-right-radius: 150px;
  margin-right: 100px;
  padding-left: 105px;
}

.photo-product::before {
  content: "";
  background-color: #fff;
  width: 50vw;
  height: 554px;
  position: absolute;
  left: 0;
  z-index: -1;
}

/*BREAKPOINTS*/

@media (max-width: 1325px) {
  .photo-product {
    margin-right: 140px;
    text-align: center;
    padding-left: 0;
  }
}

@media (max-width: 1310px) {
  .photo-product {
    display: block;
    margin-right: 0;
    margin-bottom: 30px;
    border-radius: 0;
  }

  .photo-product::before {
    display: none;
  }
}

@media (max-width: 560px) {
  .photo-product {
    height: auto;
  }

  .photo-product .photo {
    width: 100%;
  }
}
