header {
  background-color: #e24647;
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 40px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

nav {
  margin: auto 0;
}

h1,
a {
  color: #fff;
}

a {
  font-size: 21px;
  font-family: "Courier New", Courier, monospace;
  text-decoration: none;
}
